<div class="container mt-3">
  <h2 class="text-center">Testando a aplicação</h2>

  <div class="d-flex justify-content-around mt-3 shadow-sm p-3">
    <div class= "form-group">
      <form action="/input_insert" method="post">
        <h5>Input by insert</h5>
        <div class="form-row">
          <div class="col">
            <input class="form-control" type="text" name="event" value="buy">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
          <input type="text" name="timestamp" value= <%= Time.now %> hidden>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="col">
            <input type="submit" value="Insert" class="btn btn-primary">
          </div>
        </div>

      </form>
    </div>

    <div>
      <form action="#" id="add-form">
        <h5>Input by API post</h5>
        <div class="form-row">
          <div class="col">
            <input class="form-control" type="text" name="event" id="event" value="buy">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
          <input type="text" name="timestamp" value= <%= Time.now %> hidden>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="col">
            <input type="submit" value="JS Insert" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class ="card border-0 shadow-sm p-3 my-3">
    <h5>Json:</h5>
    <textarea id="myTextarea" cols="80" rows="10">
      </textarea>
  </div>


  <div class ="card border-0 shadow-sm p-3 my-3">
    <div id="container">
      <h5>Autocomplete</h5>
      <input class="form-control" type="text" id="search">
      <ul id="results">
      </ul>
   </div>
  </div>

</div>

