<h1>Testando a aplicação</h1>

<form action="/input_insert" method="post">
  <input type="text" name="event" value="buy">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="timestamp" value= <%= Time.now %> hidden>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Insert">
</form>

<form action="#" id="add-form">
  <input type="text" name="event" id="event" value="buy">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="timestamp" value= <%= Time.now %> hidden>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="JS Insert">
</form>

<textarea id="myTextarea" cols="60" rows="10">

</textarea>
<br>
 <div id="container">
    <input type="text" id="search">
    <ul id="results">
    </ul>
  </div>
